:root {
  /* Blue Shades */
  --primary-dark: #192c61;
  --primary-light: #43537e;

  /* Orange Shades */
  --accent-dark: #e97f3b;
  --accent-light: #ef9762;
}
.meet-the-team, .bg-orange {
  background-color: var(--accent-dark) !important;
}
.logo-slider img {
  width: 120px;
  margin: auto;
  object-fit: contain;
}

.logo-slider div {
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-dark);
  color: #ffffff;
}
h1,
.h1 {
  font-size: 90px;
  font-weight: 1.2;
  font-weight: 600; /* SemiBold */
}
h2 {
  font-size: 50px;
}
.navbar-expand-lg {
  padding-top: 30px;
}
.home-page .navbar-brand {
  width: 100px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600; /* SemiBold */
}
.hero {
  padding: 80px 0;
}
.hero p {
  font-size: 30px;
}

.hero .btn-outline-custom {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0px;
  font-size: 23px;
  list-style: 1.6;
  padding: 10px 20px;
}

.hero .btn-outline-custom:hover {
  background: #fff;
  color: var(--primary-dark);
}

.hero .box-illustration {
  max-width: 100%;
}
.what-is-the-box .container {
  background-color: var(--primary-light);
  padding: 50px 150px;
  color: #ffffff;
}
.what-is-the-box .box h2 {
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: 45px;
  margin-bottom: 20px;
}
.what-is-the-box .box p {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.meet-team-checkbox {
  border: 1px solid #fff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 0px;
  font-size: 23px;
  list-style: 1.6;
  margin: auto;
  display: block;
  text-align: center;
  padding: 10px 20px;
}
.meet-team-checkbox a {
  text-decoration: none;
  color: #ffffff;
}
.projects-section .container {
  background-color: var(--primary-light);
  padding: 50px 50px;
}
.projects-section h3 {
  font-size: 60px;
}
.btn-outline-light {
  border: 1px solid #ffffff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 20px;
}
.project-card {
  background-color: #848fac;
  padding: 50px 50px;
}
.project-card span.tag {
  border: 1px solid #ffffff;
  border-radius: 0px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 20px;
}
.project-card h2 {
  padding: 10px 0px;
  color: #fff;
}
.services-section .container {
  padding: 50px 50px;
  background-color: var(--primary-light);
  color: #fff;
}

.services-box {
  background-color: #5b6b91;
  padding: 50px 50px;
  color: #fff;
  border-radius: 0px;
}

.services-title {
  font-size: 48px;
  font-weight: 600;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.circle-number {
  width: 50px;
  height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-size: 18px;
}

.btn-outline-light {
  border-radius: 3px;
  padding: 10px 20px;
}
.blog-section .container {
  padding: 50px 50px;
  background-color: var(--primary-light);
  color: #fff;
}

.blog-title {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
}

.blog-card {
  background-color: #5b6b91;
  padding: 25px;
  border-radius: 0px;
  height: 100%;
  transition: 0.3s;
}

.bg-orange .blog-card {
  background-color: rgba(255, 255, 255, 0.15);
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  margin-bottom: 15px;
}

.date-badge {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 0px;
  margin-bottom: 10px;
  color: #ffffff;
}

.blog-heading {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}

.btn-outline-light {
  border-radius: 0px;
  padding: 10px 20px;
}
.touch-with-we .container {
  background-color: #4b5e86;
  border-radius: 0px;
  padding: 50px 20px;
  text-align: center;
}

.touch-with-we .idea-box img {
  width: 60px;
  margin-bottom: 15px;
}

.touch-with-we .idea-box h2 {
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
}

.touch-with-we .btn-custom {
  border: 1px solid #ffffff;
  color: #ffffff;
  margin: 5px;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 0px;
}

.touch-with-we .btn-custom:hover {
  background-color: #ffffff;
  color: var(--primary-dark);
}

/* Connect Section */
.connect-title {
  margin: 40px 0 20px;
  font-weight: 600;
}

.social-box img {
  width: 30px;
  padding: 5px 5px;
  height: 30px;
  background-color: #e67e3c;
  margin: 10px;
  display: inline-block;
}

/* Footer Links */
.footer-links a {
  color: #ffffff;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff;
}

.checkbox-area {
  width: 100%;
  margin: 30px auto 0 auto; /* center horizontally */
  text-align: center;
}

.checkbox-area img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto; /* extra safety */
}
.meet-team-section .section-text {
  font-size: 33px;
}
.divider {
  border: 2px solid #ffffff;
  margin: 10px 0;
}
/* Founder Box */
.founder-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px;
}
.founder-box h3 {
  font-size: 55px;
}
.our-teams h3 {
  font-size: 55px;
}

/* Founder image placeholder */
.founder-img {
  width: 200px;
  height: 200px;
  /* background: #fff; */
  border-radius: 10px;
  margin: auto;
}

/* Button */
.btn-email {
  border: 1px solid #fff;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 0px;
  padding: 10px 20px;
}
.founder p {
  font-size: 25px;
}
.our-team {
  background-color: var(--accent-light);
}
.our-team .content {
  background-color: var(--accent-dark);
  height: 300px;
  padding: 30px;
}
.careers-section {
  color: #fff;
}

/* Top box */
/* Title */
.careers-title {
  font-size: 50px;
}

/* Button */
.btn-career {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 18px;
  font-size: 20px;
  border-radius: 0px;
  font-weight: 500;
}

.btn-career:hover {
  background: #fff;
  color: var(--accent-dark);
}

/* Roles box */
.roles-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px;
  padding: 40px;
}

/* Lists */
.career-list,
.career-desc {
  list-style: none;
  padding: 0;
  margin: 0;
}

.career-list li {
  font-weight: 600;
  padding: 6px 0;
  font-size: 20px;
}

.career-desc li {
  padding: 6px 0;
  font-size: 20px;
  opacity: 0.95;
}
.careers-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px;
  margin-top: 40px;
}
.meet-the-team .social-box img {
  background-color: var(--primary-dark);
}
/* Links */
.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.footer-links a:hover {
  color: #fff;
}

/* bottom links */
.footer-bottom-links a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom-links a:hover {
  color: #fff;
}

/* line */
.footer-line {
  border-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .meet-team-section h1,
  .hero h1 {
    font-size: 40px;
  }
  .meet-team-section p,
  .hero p,
  .what-is-the-box .box p {
    text-align: left;
  }
  .what-is-the-box h1{
    font-size: 30px;
  }
  .what-is-the-box .container {
    padding: 20px 20px;
  }
  .meet-team-checkbox {
    font-size: 20px;
  }
  .projects-section h3 {
    font-size: 30px;
  }
  .project-card {
    padding: 20px;
    margin-bottom: 20px;
  }
  .services-title {
    font-size: 32px;
  }
  .project-card h2 {
    font-size: 30px;
  }
  .service-item {
    font-size: 22px;
  }

  .circle-number {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  .footer .social-box {
    width: 50px;
    height: 50px;
  }

  .touch-with-we .idea-box {
    padding: 30px 15px;
  }
}
